<p style="color: green"><%= notice %></p>

<% content_for :title, t(".folders") %>
<%= link_to t(".back_to_logins"), root_path %>
<h1><%= t(".folders") %></h1>
<%= link_to t(".new_folder"), new_folder_path %>

<div id="folders">
  <% @folders.each do |folder| %>
    <% next if folder.name == "No folder" %>
    <%= render folder %>
    <p>
      <%= link_to t(".show_this_folder"), folder %>
    </p>
  <% end %>
</div>

