<%= link_to t(".back_to_logins"), logins_path %>
<h1><%= t(".trash") %></h1>
<% @logins.each do |login| %>
    <%= render login %>
    <p>
        <%= button_to t(".permanently_delete_login"), 'trash/' + login.id.to_s, method: :delete  %>
    </p>
    <p>
        <%= link_to t(".restore_login"), 'trash/restore/' + login.id.to_s%>
    </p>
<% end %>