<h1><%= t(".trash") %></h1>
<table class="w-full mt-8 table-fixed">
  <thead>
    <tr class="border-b-2 hover:bg-white">
      <th class="w-12"></th>
      <th><%= t(".name") %></th>
      <th><%= t(".urls") %></th>
      <th><%= t(".trash_date") %></th>
      <th class="w-12"></th>
    </tr>
  </thead>
  <tbody>
    <% @logins.each do |login| %>
      <%= render login %>
    <% end %>
  </tbody>
</table>