<%= form_with(model: login) do |form| %>
  <% if login.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(login.errors.count, "error") + " " + t(".prohibited") %>:</h2>
      <ul>
        <% login.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <fieldset>
      <legend class="fieldset-legend"><%= form.label :name, style: "display: block" %></legend>
      <%= form.text_field :name %>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend><%= form.label :login_name, style: "display: block" %></legend>
      <%= form.text_field :login_name %>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend><%= form.label :login_password, style: "display: block" %></legend>
      <%= form.password_field :login_password, value: login.login_password %>
    </fieldset>
  </div>
  <div>
    <%= form.fields_for :urls do |urls_form| %>
      <fieldset>
        <legend><%= urls_form.label :uri, style: "display: block" %></legend>
        <%= urls_form.text_field :uri %>
      </fieldset>
    <% end %>
  </div>
  <div>
    <fieldset>
      <legend><%= form.label :notes, style: "display: block" %></legend>
      <%= form.textarea :notes %>
    </fieldset>
  </div>
  <div>
    Custom fields:
    <div class="flex flex-col gap-1">
      <%= form.fields_for :custom_fields do |custom_field_form| %>
        <fieldset>
          <legend><%= custom_field_form.label :name, style: "display: block" %></legend>
          <%= custom_field_form.text_field :name %>
        </fieldset>
        <fieldset>
          <legend><%= custom_field_form.label :value, style: "display: block" %></legend>
          <%= custom_field_form.text_field :value %>
        </fieldset>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :is_favorite %>
    <%= form.checkbox :is_favorite, class: "size-4" %>
  </div>
  <div>
    <%= form.label :folder_id, style: "display: block" %>
    <%= form.collection_select :folder_id, Folder.accessible_by(current_ability),:id,:name %>
  </div>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file, class:"pl-0 rounded-none" %>
  </div>
  <div>
    <%= form.submit t(".save_login"), class: "btn-primary"  %>
    <%= link_to t(".cancel"), logins_path, class: "btn-secondary" %>
  </div>
<% end %>