<tr>
  <td class="text-center">
    <% if login.urls.length > 0 %>
      <% login.urls.each do |u| %>
        <% if u.fav_icon.representable? %>
          <%= image_tag u.fav_icon, class: "mx-auto" %>
        <% else %>
          <i class="fas fa-xl fa-globe"></i>
        <% end %>
      <% end %>
    <% else %>
      <i class="fas fa-xl fa-globe"></i>
    <% end %>
  </td>
  <td>
    <%= link_to login.name, edit_login_path(login), class: "font-bold" %><br />
    <%= login.login_name %>
  </td>
  <td>
    <% login.urls.each do |url| %>
      <%= link_to url.uri, "https://#{URI.parse(url.uri).host}" %><br />
    <% end %>
  </td>
  <% if login.trash_date %>
    <td>
      <%= login.trash_date %>
    </td>
  <% end %>
  <td class="relative">
    <div id="toggle<%= dom_id login %>" class="top-0 right-0 w-6 ml-auto text-center rounded-md cursor-pointer hover:ring-1 hover:ring-blue-600">
      <i class="fas fa-ellipsis-v"></i>
    </div>
    <div id="menu<%= dom_id login %>" class="absolute right-0 z-10 hidden py-2 bg-white border border-gray-500 top-12 rounded-xl">
      <% unless controller_name == "trash" %>
        <div class="text-blue-600 cursor-pointer menu-item text-nowrap" onclick="copyToClipboard('<%= login.login_name %>')"><%= t(".copy_username") %></div>
        <div class="text-blue-600 cursor-pointer menu-item text-nowrap" onclick="copyToClipboard('<%= login.login_password %>')"><%= t(".copy_password") %></div>
        <%= link_to edit_login_path(login) do %>
          <div class="menu-item text-nowrap"><%= t(".edit_login") %></div>
        <% end %>
        <%= link_to url_for(controller: :shared_login_data, action: :new, login_id: login.id), method: :get do %>
          <div class="menu-item text-nowrap"><%= t(".share_login") %></div>
        <% end %>
        <%= button_to login, method: :delete, class: "text-red-600" do %>
          <div class="text-left menu-item text-nowrap"><%= t(".trash_login") %></div>
        <% end%>
      <% else %>
        <%= link_to('trash/restore/' + login.id.to_s, data: { turbo: false }) do %>
          <div class="menu-item text-nowrap"><%= t(".restore_login") %></div>
        <% end %>
        <%= button_to login, method: :delete, class: "text-red-600" do %>
          <div class="text-left menu-item text-nowrap"><%= t(".delete_login") %></div>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
<script>
  document.addEventListener('turbo:load', () => {
    const toggle = document.getElementById("toggle<%= dom_id login %>");
    const menuToToggle = document.getElementById("menu<%= dom_id login %>");
    const menus = document.querySelectorAll("[id^='menu']");
    toggle.addEventListener("click", () => {
      menus.forEach((menu) => {
        if (menu !== menuToToggle) {
          menu.classList.add("hidden");
        }
      });
      menuToToggle.classList.toggle("hidden");
    });
  });

  function copyToClipboard(text) {
    navigator.clipboard.writeText(text);
  }
</script>
