<div id="<%= dom_id login %>">
  <p>
    <strong>Name:</strong>
    <%= login.name %>
  </p>

  <p>
    <strong>URLs:</strong>
    <% login.urls.each do |url| %>
      <%= url.uri %> <br />      
    <% end %>
  </p>

  <p>
    <strong>Login name:</strong>
    <%= login.login_name %>
  </p>

  <p>
    <strong>Login password:</strong>
    <%= login.login_password %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= login.notes %>
  </p>

  <p>
    <strong>Is favorite:</strong>
    <%= login.is_favorite %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= login.folder.name %>
  </p>

  <p>
    <strong>File:</strong>
    <%=  login.file.attached? ? (link_to 'Download file', rails_blob_path(login.file, disposition: "attachment")) : "No attachment" %>
  </p>

</div>
