<%= form_with url: logins_path, class: "flex-row mt-8 items-center flex-wrap justify-between md:justify-start text-lg", method: :get do |form| %>
  <div class="hidden">
    <%= form.label :favorite, t(".favorite")%>
    <%= form.check_box :favorite, checked: params[:favorite].present?, include_hidden: false, class: "size-4" %>
  </div>
  <div>
    <%= form.search_field :q, class: "hover:ring-1 hover:ring-blue-600 focus:ring-2 focus:ring-blue-600 w-full md:w-80 text-sm border border-gray-500" %>
  </div>
  <%= form.submit t(".search"), class: "btn-primary text-sm" %>
<% end %>