<p style="color: green"><%= notice %></p>

<% content_for :title, "Logins" %>

<h1>Logins</h1>
<%= render "search_form" %>
<div id="logins">
  <% @logins.each do |login| %>
    <%= render login %>
    <p>
      <%= link_to "Show this login", login %>
    </p>
  <% end %>
</div>
<%= link_to "New login", new_login_path %>
<aside>
  <h1>Folders</h1>
  <%= link_to "Show all passwords", logins_path %> <br />
  <%= link_to "Manage folders", folders_path %> <br />
    <% Folder.accessible_by(current_ability).each do |folder| %>
      <%= link_to folder.name, logins_path + "?folder_id=#{folder.id}" %><br />
    <% end %>
</aside>