<p style="color: green"><%= notice %></p>
<% content_for :title, "Logins" %>
<div class="flex justify-between">
  <h1><%= t(".logins") %></h1>
  <%= link_to t(".new_login"), new_login_path, class: "btn-primary" %>
</div>
<%= render "search_form" %>
<div class="flex flex-wrap gap-1 mt-2">
  <% @logins.each do |login| %>
    <div class="password-card">
      <%= render login %>
      <div class="flex mt-2">
        <%= link_to t(".edit_login"), edit_login_path(login), class: "btn-primary" %>
        <div class="mx-2"></div>
        <%= button_to t(".trash_login"), login, method: :delete, class: "btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>