<p style="color: green"><%= notice %></p>
<% content_for :title, "Logins" %>
<div class="flex justify-between">
  <h1><%= t(".logins") %></h1>
  <%= link_to t(".new_login"), new_login_path, class: "btn-primary" %>
</div>
<%= render "search_form" %>
<div class="mt-2">
  <table class="w-full mt-8 table-fixed">
    <thead>
      <tr class="border-b hover:bg-white">
        <th class="w-12"></th>
        <th><%= t(".name") %></th>
        <th><%= t(".urls") %></th>
        <th class="w-12"></th>
      </tr>
    </thead>
    <tbody>
      <% @logins.each do |login| %>
        <tr>
          <%= render login %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>