<div class="flex flex-col items-center justify-center flex-1 h-full">
  <i class="mb-4 text-blue-700 fas fa-7x fa-shield-halved"></i>
  <h1 class="mb-10"><%= t(".sign_up") %></h1>
  <div class="form-bg">
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") + " " + t(".prohibited") %>:</h2>
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= form_with(model: @user) do |form| %>
      <fieldset>
        <legend><%= form.label :email_address %></legend>
        <%= form.text_field :email_address, class: "user-data-input" %>
      </fieldset>
      <fieldset>
        <legend><%= form.label :password %></legend>
        <%= form.password_field :password, class: "user-data-input" %>
      </fieldset>
      <fieldset>
        <legend><%= form.label :password_confirmation %></legend>
        <%= form.password_field :password_confirmation, class: "user-data-input" %>
      </fieldset>
      <fieldset>
        <legend><%= form.label :first_name %></legend>
        <%= form.text_field :first_name, class: "user-data-input" %>
      </fieldset>
      <fieldset>
        <legend><%= form.label :last_name %></legend>
        <%= form.text_field :last_name, class: "user-data-input" %>
      </fieldset>
      <%= form.submit t(".sign_up"), class: "btn-primary-user-action" %>
    <% end %>
    <hr>
    <div>
      <%= t(".already_have_an_account") %>
      <%= link_to t(".sign_in"), root_path %>
    </div>
  </div>
</div>