<%= form_with(url: shared_login_data_path, class: "contents") do |form| %>
  <div class="hidden my-5">
    <%= form.label :login_id %>
    <%= form.text_field :login_id, value: params[:login_id] %>
  </div>
  <div>
    <fieldset>
      <legend><%= form.label :user_email, t(".email_address") %></legend>
      <%= form.email_field :user_email %>
    </fieldset>
  </div>
  <div class="inline">
    <%= form.submit t(".share_login"), class: "btn-primary mt-2" %>
  </div>
<% end %>
