<%= form_with(url: shared_login_data_path, class: "contents") do |form| %>
  <div class="hidden my-5">
    <%= form.label :login_id %>
    <%= form.text_field :login_id, value: params[:login_id] %>
  </div>
  <div class="my-5">
    <%= form.label :user_email, t(".email_address") %>
    <%= form.email_field :user_email, class: "block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
