<% content_for :title, t(".shared_logins") %>
<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-md bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold"><%= t(".shared_logins") %></h1>
  </div>
  <div id="shared_login_data" class="min-w-full">
    <% if @shared_login_data.any? %>
      <% if my_shared_logins = @shared_login_data.find { |d| d[0] == Current.user } %>
        <%= t(".shared_by_me") %>
        <table class="w-full mt-8 table-fixed">
          <thead>
            <tr class="border-b-2 hover:bg-white">
              <th class="w-12"></th>
              <th><%= t(".name") %></th>
              <th><%= t(".urls") %></th>
              <th><%= t(".shared_with") %></th>
              <th class="w-12"></th>
            </tr>
          </thead>
          <tbody>
            <% my_shared_logins[1].each do |shared_login_datum| %>
              <%= render shared_login_datum %>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <% @shared_login_data.each do |shared_login_data_by_user| %>
        <% next if shared_login_data_by_user[0] == Current.user %>
        <%= "Shared by #{shared_login_data_by_user[0].email_address}" %>
        <table class="w-full mt-8 table-fixed">
          <thead>
            <tr class="border-b-2 hover:bg-white">
              <th class="w-12"></th>
              <th><%= t(".name") %></th>
              <th><%= t(".urls") %></th>
              <th class="w-12"></th>
            </tr>
          </thead>
          <tbody>
            <% shared_login_data_by_user[1].each do |shared_login_datum| %>
              <%= render shared_login_datum %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <p class="my-10 text-center"><%= t(".no_shared_login_found") %></p>
    <% end %>
  </div>
</div>
