<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Password Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag asset_path('shield-halved-solid.svg') %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/dc2b84518f.js" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('turbo:load', () => {
        const mobileMenuIcon = document.getElementById("mobile-menu-button");
        const sidePanel = document.getElementById("side-panel");
        mobileMenuIcon.addEventListener("click", () => {
          sidePanel.classList.toggle("hidden");
        });
      });
    </script>
  </head>
  <body>
    <div class="flex min-h-full">
      <%= render "layouts/sidepanel" if Current.user %>
      <div class="flex flex-col flex-1">
        <div class="flex gap-2 ml-auto mr-2 text-blue-600">
          <% I18n.available_locales.each do |locale| %>
            <% if I18n.locale != locale %>
              <%= link_to t(".lang.#{locale}"), url_for(locale: locale == :en ? nil : locale) %>
            <% end %>
          <% end %>
          <%= button_to content_tag(:i,'', class: "fas fa-arrow-right-from-bracket"), session_path, method: :delete if Current.user %>
        </div>
        <div id="mobile-menu-button" class="fixed top-0 z-10 ml-2 cursor-pointer md:collapse">
          <button>
            <div class="w-8 h-1 bg-white rounded-full"></div>
            <div class="w-8 h-1 mt-1 bg-white rounded-full"></div>
            <div class="w-8 h-1 mt-1 bg-white rounded-full"></div>
          </button>
        </div>
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
